* @JoshuaWise
/docs/compilation.md @JoshuaWise @WiseLibs/better-sqlite3-team
/docs/performance.md @JoshuaWise @WiseLibs/better-sqlite3-team
/docs/troubleshooting.md @JoshuaWise @WiseLibs/better-sqlite3-team
